@font-face {
    font-family: Poppins-Regular;
    src: url(../../assets/fonts/poppins/Poppins-Regular.ttf);
}

.footerPage {
    font-family: Poppins-Regular;
    font-size: 0.875rem;
    padding: 10px;
    background-color: var(--color-white);
}

.footerPage__rights {
    text-align: center;
    color: var(--text-color);
}

/* Desktop */
@media screen and (min-width: 992px){
    .footerPage {
        font-size: 1rem;
    }
}